html{
    background: rgb(255, 246, 246);
}
table{
    background: pink;
    margin:15px;
    padding: 20px;
}
table td:hover{
    background:rgb(41, 248, 0);
}
th{
    color: black;
    padding:10px;
}
td{
    text-align: center;
}
#salmon_form{
    padding:5mm;
}
h1{
    font-size: 25mm;
    padding:10mm;
    text-align: center;
    color:rgb(238, 148, 178);
    font-weight: bold;
    font-style: italic;    
}
a{
    padding:30px;
}
header{
    text-align: center;
    margin-bottom: 50px;
}

p{
    width: 450px;
    text-align: center;
    font-size: 16px;
    margin-left: 500px;
    margin-bottom: 20px;
}
img{
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 10px;
    float:right;
}
.r{
    padding-left:20px;
}
